extends layout

block content
    h1= 'API for college db'
    center
        a(href='/api/admin') admin
        br
        a(href='/api/hods') hods
        br
        a(href='/api/dept') depts
        br
        a(href='/api/student') students
        br
        a(href='/api/notice') notices